body {
  margin: 20px;
  padding: 0;
  background-color: lightgreen;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%; 
}

.left, .right {
  width: 50%;
  margin: 0 10px;
}

.left {
  background-color: #fff;
}

.right {
  background-color: #ddd;
}

